<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.repository.mapper.UserMapper">


  <insert id="Register" parameterType="com.example.demo.domain.model.dto.RegistRequestDto" keyProperty="seqNumber">
    INSERT INTO eunjun.user (name, email, password, isAdmin, deleteFlag, createDate, updateDate)
    VALUES (#{name}, #{email}, #{password}, #{isAdmin}, 0, NOW(), NOW())
  </insert>

</mapper>
